#stacks {
  .stack-wrapper__image {
    display: flex;  
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .stack-cont__image {
    min-width: 75px;
  }
}
